@import url(http://fonts.googleapis.com/css?family=Satisfy);
.background-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(134, 108, 108, 0.8); }

button:focus, button:active, button:focus:active, form input:focus, form input:active, form input:focus:active, form textarea:focus, form textarea:active, form textarea:focus:active {
  box-shadow: none;
  outline: 0;
  -webkit-box-shadow: none; }

.project-name, .project-item {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

li {
  display: inline-block;
  list-style-type: none;
  margin: 0; }

.main-nav li:first-child a {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: transparent; }

* {
  box-sizing: inherit; }

a {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-size: 1.8rem;
  text-decoration: none; }

body {
  background-color: #f2f2f2;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
  font-weight: 100; }

blockquote {
  margin: 0;
  padding: 0 34px 0 45px;
  position: absolute;
  top: 10px;
  text-align: right; }
  blockquote p:before, blockquote p:after {
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    position: absolute; }
  blockquote p:before {
    content: "\201C";
    margin-left: -24px; }
  blockquote p:after {
    content: "\201D";
    margin-left: 10px; }

button {
  background: none;
  border: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

h1 {
  margin: 0; }

h2, h3, h4, h5, h6 {
  font-family: "Satisfy", cursive;
  font-weight: normal;
  margin: 0; }

h2 {
  font-size: 40px;
  font-size: 4rem;
  padding: 5% 0 3% 0;
  text-align: center; }

li {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-size: 1.8rem; }

p, pre, label, input {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 0.3em;
  font-size: 18px;
  font-size: 1.8rem; }

ul, p {
  margin: 0;
  padding: 0; }

footer h2 {
  -moz-box-shadow: inset 0 20px -20px 20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 20px -20px -20px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6); }

form {
  float: right;
  margin-top: 7%;
  width: 26%; }
  form label {
    width: 100%;
    display: block; }
  form input, form textarea {
    font-family: "Josefin Sans", sans-serif;
    color: #856d6d;
    font-size: 18px;
    font-size: 1.8rem;
    width: 100%;
    resize: none; }
  form .button {
    width: 100px;
    float: right; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden; }

::-webkit-input-placeholder {
  color: transparent; }

::-moz-placeholder {
  color: transparent; }

/* firefox 19+ */
:-ms-input-placeholder {
  color: transparent; }

/* ie */
input:-moz-placeholder {
  color: transparent; }

.button {
  background: none;
  border: 2px solid #fff;
  color: #ddd;
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  margin-top: 10px;
  padding: 0.5em 1em;
  width: inherit; }

.social-media a {
  background: url(../img/social-net.png) no-repeat;
  color: transparent;
  display: block;
  height: 187px;
  margin-top: 10px; }

.behance a {
  background-position: right top;
  margin-left: 28px;
  width: 92px; }

.facebook a {
  background-position: left top;
  width: 40px; }

.invision a {
  background-position: -38px top;
  margin-left: 28px;
  width: 58px; }

footer {
  background: url("../img/background/background-footer.png") no-repeat;
  overflow: hidden; }

.about-me {
  background-color: #99646a;
  overflow: hidden;
  -moz-box-shadow: inset 0 20px -20px 20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 20px -20px -20px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6); }

.projects {
  background-color: #886A68;
  overflow: hidden;
  -moz-box-shadow: inset 0 20px -20px 20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 20px -20px -20px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6); }
  .projects ul {
    padding: 0 0 13% 0; }

.project-info {
  color: #886A68; }

header {
  background: url("../img/background/background-header.png") no-repeat center center; }

.header-content {
  color: #ddd;
  padding: 18% 0 1% 0;
  text-align: center; }
  .header-content p {
    font-size: 26px;
    font-size: 2.6rem;
    font-weight: normal; }
    .header-content p span {
      font-size: 40px;
      font-size: 4rem;
      font-family: "Satisfy", cursive;
      padding-left: 15px; }

.portrait {
  background: #ddd;
  border-radius: 50%;
  border: 5px solid #99646a;
  display: inline-block;
  height: 215px;
  margin: 0;
  margin-bottom: -135px;
  margin-left: -370px;
  width: 215px; }

nav ul {
  padding: 0; }
nav a:hover {
  color: #856d6d;
  background-color: rgba(225, 225, 225, 0.9); }

.main-nav li {
  vertical-align: top; }
.main-nav a {
  color: #ddd;
  display: block;
  font-family: "Josefin Sans", sans-serif;
  height: 70px;
  line-height: 66px;
  padding: 0 30px; }
.main-nav li:first-child a {
  background: url(../img/logo-small.png) no-repeat center bottom;
  margin-right: 635px;
  width: 150px; }

.project-copy {
  width: 300px;
  float: left;
  margin: 2% 0 2% 10%; }

.project-images {
  margin-left: 30%;
  overflow: hidden;
  width: 980px;
  margin-bottom: 5%; }

.images-container {
  overflow: auto;
  height: 1000px;
  margin-right: -50px; }

.app-right {
  float: right; }

.app-vector {
  background: url(../img/background/app-vector.png) no-repeat center center;
  height: 678px;
  padding: 63px 18px;
  width: 348px;
  float: left;
  margin: 0 10% 0 10%;
  overflow: hidden; }

.close-project-section {
  display: none;
  margin-left: 95%;
  padding-top: 25px; }
  .close-project-section svg {
    width: 43.353px;
    height: 38.728px;
    fill: #99646A; }

.display-button {
  display: block; }

.hideScrollBar {
  background-color: #856d6d;
  height: 91%;
  margin: 48px 15px 0 15px;
  overflow-x: hidden;
  width: 101%; }

.projects li {
  width: 31.5%;
  height: 211px;
  margin: 0.5%; }
.projects h4 {
  font-size: 20px;
  font-size: 2rem; }
.projects p {
  font-size: 28px;
  font-size: 2.8rem; }

.project-name {
  height: 100%;
  padding: 60px;
  position: absolute;
  opacity: 0;
  text-decoration: none;
  width: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden; }

.project-item {
  height: 100%;
  padding: 0;
  position: relative; }
  .project-item:hover {
    box-shadow: inset 0 0 0 126px rgba(136, 106, 104, 0.9), 0 1px 3px rgba(0, 0, 0, 0.8); }
    .project-item:hover .project-name {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }

.project-section {
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6); }

.project-wikipedia {
  background-image: url(../img/project-wiki/small-wiki.png); }

.project-artesanias {
  background-image: url(../img/project-elCuervo/small-elcuervo.png); }

.project-last-activist {
  background-image: url(../img/project-thelastActivist/small-thelastActivist.png); }

.project-la-iluminada {
  background-image: url(../img/project-laIluminada/small-laIluminada.png); }

.project-hechoxmi {
  background-image: url(../img/project-hechoxMi/small-hechoxmi.png); }

.project-suntime {
  background-image: url(../img/project-sunTime/small-suntime.png); }

.slider-button {
  margin: 0 auto;
  width: 155px; }

.slider-project {
  margin: 3% 0; }

.web-vector {
  background: url(../img/background/web-vector.png) no-repeat;
  height: 702px;
  overflow: hidden;
  width: 1000px;
  margin: 0 auto; }

.project-info h2 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 3%; }
.project-info span {
  vertical-align: middle;
  font-family: "Satisfy", cursive;
  font-size: 30px;
  font-size: 3rem; }

#button-next {
  display: inline-block;
  height: 80px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 16px; }

#button-previous {
  display: inline-block;
  height: 80px;
  margin-right: 120px;
  width: 16px; }

.about-info {
  margin: 0 auto;
  padding-bottom: 70px;
  width: 700px; }
  .about-info span {
    display: block;
    font-family: "Satisfy", cursive;
    font-size: 70px;
    font-size: 7rem;
    padding: 40px 0 20px 0; }

.skills {
  margin: 0 auto;
  width: 712px;
  padding-bottom: 100px; }

.skill-item {
  display: inline-block;
  margin: 0 20px;
  vertical-align: top;
  width: 100px; }
  .skill-item div {
    background: #ddd;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #99646a; }
  .skill-item p {
    text-align: center; }

.box-skill {
  width: 103px;
  height: 103px;
  stroke-dasharray: 2000;
  -webkit-animation: draw 8s linear forwards;
  animation: draw 8s linear forwards;
  fill: none;
  stroke: #fff;
  stroke-width: 2; }

@-moz-keyframes draw {
  from {
    stroke-dashoffset: 2000; }
  to {
    stroke-dashoffset: 0; } }
@-webkit-keyframes draw {
  from {
    stroke-dashoffset: 2000; }
  to {
    stroke-dashoffset: 0; } }
.color-fill {
  fill: #bb5c65; }

.box-background {
  width: 105px;
  height: 103px;
  background-color: #fff; }

.hidden-animation {
  display: none; }

.box-animation-html5 {
  width: 103px;
  height: 35px;
  margin-top: -103px;
  background-color: #bb5c65;
  -moz-animation: htmlcinco 5s;
  -o-animation: htmlcinco 5s;
  -webkit-animation: htmlcinco 5s;
  animation: htmlcinco 5s; }

@-moz-keyframes htmlcinco {
  0% {
    height: 103px; }
  50% {
    height: 80px; }
  100% {
    height: 35px; } }
@-webkit-keyframes htmlcinco {
  0% {
    height: 103px; }
  50% {
    height: 80px; }
  100% {
    height: 35px; } }
.box-animation-css3 {
  width: 103px;
  height: 20px;
  margin-top: -103px;
  background-color: #bb5c65;
  -moz-animation: csstres 5s;
  -o-animation: csstres 5s;
  -webkit-animation: csstres 5s;
  animation: csstres 5s; }

@-moz-keyframes csstres {
  0% {
    height: 103px; }
  50% {
    height: 60px; }
  100% {
    height: 20px; } }
@-webkit-keyframes csstres {
  0% {
    height: 103px; }
  50% {
    height: 60px; }
  100% {
    height: 20px; } }
.box-animation-js {
  width: 103px;
  height: 40px;
  margin-top: -103px;
  background-color: #bb5c65;
  -moz-animation: js 5s;
  -o-animation: js 5s;
  -webkit-animation: js 5s;
  animation: js 5s; }

@-moz-keyframes js {
  0% {
    height: 103px; }
  50% {
    height: 60px; }
  100% {
    height: 40px; } }
@-webkit-keyframes js {
  0% {
    height: 103px; }
  50% {
    height: 60px; }
  100% {
    height: 40px; } }

/*# sourceMappingURL=style.css.map */
