
<!-- Start header -->
<nav class="main-nav">
  <h1 class="main-logo"><a ui-sref="main">Carolina Loaiza R / Design and Front-End Developer</a></h1>
  <button class="mobile-nav-button" ng-click="nav.showMenu()">{{nav.textMenu}}</button>
  <ul class="main-nav-container" ng-class="{ mainNavMobile: nav.isMenuShow }">
    <li><a href="" ng-click="nav.scrollTo('projects')">Works</a></li>
    <li><a href="" ng-click="nav.scrollTo('about')">About</a></li>
    <li><a href="" ng-click="nav.scrollTo('contact')">Contact</a></li>
  </ul>
</nav>
