//
// Layout styles
//

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.inner-container {
  margin: 0 auto;
  max-width: 400px;
  overflow: hidden;

  @media (min-width: 840px) {
    max-width: 800px;
  }
  
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.background-image {
  @extend %background-image;
}


.projects {
  background-color: $section-project;
  overflow: hidden;
  ul {
    padding-bottom: 8%;
  }
}

