// 
// Estilos para los elementos base y footer
//

* {
  box-sizing: inherit;
}

a {
  color: $text;
  font-family: $text-sans;
  font-weight: normal;
  @include font-size(18);
  text-decoration: none;
}

body {
  background-color: $background-color;
  color: $text;
  margin: 0;
  overflow-x: hidden;
}

blockquote {
  margin: 0;
  padding: 0 20px 0 40px;
  position: absolute;
  top: 10px;
  text-align: right;
}

button {
  background: none;
  border: 0;
  padding: 0;
  &:focus, &:active, &:focus:active {
    @extend %blue-border;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  font-family: $title-cursive;
  font-weight: normal;
  margin: 0;
}

h2 {
  @include font-size(40);
  margin: 5% 0 3% 0;
}

li {
  @extend %list-style;
  font-family: $text-sans;
  @include font-size(18);
}

hr{
  height: 20px;
  border: 0;
  margin: 0;
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
}

p, pre, label, input{
  font-family: $text-sans;
  margin-bottom: 0.3em;
  @include font-size(18);
}

ul, p {
  margin: 0;
  padding: 0;
}


// 
// Estilos para los elementos del footer
//

form {
  float: right;
  margin-top: 7%;
  width: 26%;
  label {
    width: 100%;
    display: block;
  }
  input, textarea {
    font-family: $text-sans;
    color: $text-secondary;
    @include font-size(18);
    width: 100%;
    resize: none;
    &:focus, &:active, &:focus:active {
    @extend %blue-border;
  }
  }
  .button {
    width: 100px;
    float: right;
  }
}


// Placeholder hidden
::-webkit-input-placeholder { 
  color: transparent; 
}
::-moz-placeholder { 
  color: transparent; 
} /* firefox 19+ */
:-ms-input-placeholder { 
  color: transparent;  
} /* ie */
input:-moz-placeholder { 
  color: transparent;  
}

// Button Descarga
.button {
  @include button(18);
}

.social-media a {
  background: url(../img/social-net.png) no-repeat;
  color: transparent;
  display: block;
  height: 187px;
  margin-top: 10px;
}

.behance a {
  background-position:  right top;
  margin-left: 28px;
  width: 92px;
}

.facebook a {
  background-position: left top;
  width: 40px;
}

.invision a {
  background-position: -38px top;
  margin-left: 28px;
  width: 58px;
}
