// 
// Estilos para los elementos base y footer
//

*, *::after, *::before {
  box-sizing: inherit;
}

ul, p {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  font-family: $text-sans;
  @include font-size(16);
  text-decoration: none;
  font-weight: 100;
}

body {
  background-color: $background-color;
  color: #fff;
  margin: 0;
}

button {
  background: none;
  border: 0;
  padding: 0;
  font-weight: normal;
  &:focus, &:active, &:focus:active {
    @extend %blue-border;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  font-family: $title-cursive;
  font-weight: normal;
  margin: 0;
}

h2 {
  @include font-size(60);
  text-align: left;
}

li {
  @extend %list-style;
}

p, pre{
  font-family: $text-sans;
  margin-bottom: 4%;
  font-weight: 100;

  @include font-size(15);

  @media (min-width: 720px) {
    @include font-size(16);
  }
}


// 
// Estilos para los elementos del footer
//

footer {
  background: #6B5C5A;
  overflow: hidden;

  hr {
    display: block;
    height: 20px;
    margin: 0;
    border: none;
    -moz-box-shadow: inset 0 20px -20px 20px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0 20px -20px -20px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
  }
}


.contact-container {
  @media (min-width: 840px) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
  }

  h2 {
    padding-left: 20%;

    @media (min-width: 840px) {
      padding-left: 50%;
    }
  }
}

.contact-image {
  margin: 4% auto;
  display: block;
  width: 80%;

  @media (min-width: 840px) {
    margin: 4% 0;
    float: left;
    width: 57.35098%;
  }

  p {
    margin-bottom: 2%;
  }
}

.section-title {
  padding: 3% 0;

  &::after {
    content: "";
    height: 6px;
    width: 60px;
    display: block;
    background: #fff;
  }
}

.copyright {
  margin-bottom: 1%;
  display: block;
  font-size: 15px;
  text-align: center;
  clear: both;
}

// Basic Button

.button {
  margin-top: 1.5%;
  font-weight: normal;
  @include button(#fff, #fff);
  @include font-size(15);

  @media (min-width: 720px) {
    @include font-size(18);
  }

  &:hover {
    background-color: #fff;
    color: $text-secondary;
  }

  &:hover > .icon-eye {
    background-position: 44px -23px;
  }
}

// Disable Vertical Scroll in mobile 

.disable-scroll {
  overflow-y: hidden;
}

.link {
  display: inline-block;
  margin-bottom: 6%;
  
  &::after {
    content: "";
    height: 6px;
    width: 30%;
    display: block;
    background: #fff;
    transition: width 0.2s ease-in-out;
  }

  &:hover::after{
    width: 100%;
  }
}

.icon {
  @include font-size(25);
  vertical-align: middle;
  width: 24px;
  text-align: center;
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.4);
}

