// 
// Estilos para los elementos base y footer
//

* {
  box-sizing: inherit;
}

ul, p {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  font-family: $text-sans;
  font-weight: normal;
  @include font-size(20);
  text-decoration: none;
}

body {
  background-color: $background-color;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}

button {
  background: none;
  border: 0;
  padding: 0;
  font-weight: normal;
  &:focus, &:active, &:focus:active {
    @extend %blue-border;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  font-family: $title-cursive;
  font-weight: normal;
  margin: 0;
}

h2 {
  @include font-size(60);
  padding: 5% 0 3% 0;
  text-align: center;
}

li {
  @extend %list-style;
  font-family: $text-sans;
  @include font-size(18);
}

p, pre{
  font-family: $text-sans;
  font-weight: 100;
  margin-bottom: 4%;
  @include font-size(20);
}


// 
// Estilos para los elementos del footer
//
footer h2 {
  -moz-box-shadow: inset 0 20px -20px 20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 20px -20px -20px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
}

.contact-info p{
  margin-bottom: 1%;
}

.contact-container {
  margin: 0 auto;
  width: 80%;
  max-width: $content-width;
  overflow: hidden;
}

.section-title {
  @include font-size(100);
  padding: 0;
  margin: -4% 0;
  opacity: 0.3;
  color: #f2f2f2;
  @media (min-width: 840px) {
    @include font-size(200);
  }
}

// Button Descarga
.button {
  margin-top: 1.5%;
  font-weight: normal;
  @include button(18, #fff, #fff);
  &:hover {
    background-color: #fff;
    color: $text-secondary;
  }
}


