//
// Layout styles
//

footer {
  background:  url("../img/background/background-footer.png") no-repeat;
}

.about-me {
  background-color: $section-about;
  .about-info, .comments, ul {
    @extend %container;
  }
}

.background-image {
  @extend %background-image;
  .contact {
    @extend %container;
  }	
}

.main-nav ul {
  @extend %container;
}

.projects {
  background-color: $section-project;
  ul {
    padding: 11% 0 13% 0;
    @extend %container;
  }
}

.project-style {
  color: $section-project;
  @extend %container;
}

