//
// Layout styles
//

footer {
  background:  url("../img/background/background-footer.png") no-repeat;
  overflow: hidden;
  padding-bottom: 5%; 
}

.about-me {
  background-color: $section-about;
  overflow: hidden;
  -moz-box-shadow: inset 0 20px -20px 20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 20px -20px -20px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
}

.background-image {
  @extend %background-image;
}


.projects {
  background-color: $section-project;
  overflow: hidden;
  -moz-box-shadow: inset 0 20px -20px 20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 20px -20px -20px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
  ul {
    padding-bottom: 11%;
  }
}

.project-info {
  color: $section-project;
}

