//
// Mixins
//

// Button
@mixin button($font-size, $text-color: #fff, $border-color: #fff) {
  background: none;
  border: 2px solid $border-color;
  color: $text;
  display: inline-block;
  font-family: $text-sans;
  @include font-size($font-size);
  margin-top: 10px;
  padding: 0.5em 1em;
  width: inherit;
}

// font-size mixin
@mixin font-size($size) {
  font-size: $size + px;
  font-size: ($size / 10) + rem;
}

// Item transform scale
@mixin scale($number){
  -webkit-transform: scale($number);
  -moz-transform: scale($number);
  -o-transform: scale($number);
  -ms-transform: scale($number);
  transform: scale($number);
}

// Skills box animation
@mixin box-animation($height, $name){
  width: 103px;
  height: $height;
  margin-top: -103px;
  background-color: #bb5c65;
  -moz-animation: $name 5s;
  -o-animation: $name 5s;
  -webkit-animation: $name 5s; 
  animation: $name 5s;
}

// Skills box animation-keyframes
@mixin box-animation-keyframes($zero, $half, $complete){
  0%   {height: $zero }
  50%  {height: $half }
  100% {height: $complete }
}