//
// Mixins
//

// Button
@mixin button($font-size, $text-color, $border-color) {
  background: none;
  border: 2px solid $border-color;
  color: $text-color;
  display: block;
  font-family: $text-sans;
  @include font-size($font-size);
  padding: 7px 9px;
  font-weight: 500;
}

// font-size mixin
@mixin font-size($size) {
  font-size: $size + px;
  font-size: ($size / 10) + rem;
}

// Item transform scale
@mixin scale($number){
  -webkit-transform: scale($number);
  -moz-transform: scale($number);
  -o-transform: scale($number);
  -ms-transform: scale($number);
  transform: scale($number);
}