// 
// Variables
//

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,300|Satisfy);

// Font 
$title-cursive: 'Satisfy', cursive;
$text-sans: 'Poppins', sans-serif;

// Colors 
$background-color: #f2f2f2; // gris claro
$background-nav: rgba(225, 225, 225, 0.9); // opacidad gris claro
$background-opacity: rgba(134, 108, 108, 0.8); // opacidad café
$section-about: #99646a; // rojo oscuro
$section-project: #886A68; // rojo oscuro
$text: #ddd; // gris claro
$text-secondary: #856d6d; // café

// Layout
$content-width: 1200px;
$max-width: 80%;
