// 
// Variables
//

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,600|Pacifico);

// Font 
$title-cursive: 'Pacifico', cursive;
$text-sans: 'Josefin Sans', sans-serif;

// Colors 
$background-color: #f2f2f2; // gris claro
$background-nav: rgba(225, 225, 225, 0.9); // opacidad gris claro
$background-opacity: rgba(134, 108, 108, 0.9); // opacidad café
$section-about: #bb5c65; // rojo
$section-project: #99646a; // rojo oscuro
$text: #f2f2f2; // gris claro
$text-secondary: #856d6d; // café

// Layout
$content-width: 960px;
$max-width: 1200px;
