//
// Estilos de About
//

.about-info p {
	position: absolute;
	width: 700px;
}

.about-portrait {
	float: right;
}

//Shape Portrait
.about-portrait::before {
	content: "";
  border-left: 360px solid $section-about;
  border-bottom: 520px solid transparent;
  border-right: 0;
  position: absolute;
}

.comment-item {
	border: 1px solid #fff;
	height: 132px; 
	position: relative;
	margin: 80px 7px;
	width: 384px;
	//Shape Comment Portrait
	&:before {
		content: "";
	  border-right: 174px solid $section-about;
	  border-bottom: 130px solid transparent;
	  position: absolute;
	}
	footer {
		background: none;
    margin-top: 13px;
    font-style: italic;
	}
}

.skills {
	margin-top: 258px;
  width: 362px;
	h4 {
		text-align: center;
		width: 104px;
		@include font-size(20);
	}
}

.bar-html5, .bar-css3 {
	margin-right: 20px;
}

//
// Estilos de Skills bars
//

.box-skill {
  width: 103px;
  height: 103px;
  stroke-dasharray: 2000;
  -webkit-animation:  draw 8s linear forwards;
  animation: draw 8s linear forwards;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
}

// Skills box animation-keyframes Cuadrado
@-moz-keyframes draw {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes draw {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.color-fill { 
  fill: #bb5c65;
}

.box-background {
  width: 105px;
  height: 103px;
  background-color: #fff;
}

// Skills box animation Html5
.box-animation-html5 {
  @include box-animation(35px, htmlcinco)
}

// Skills box animation-keyframes
@-moz-keyframes htmlcinco {
  @include box-animation-keyframes(103px, 80px, 35px)
}

@-webkit-keyframes htmlcinco {
  @include box-animation-keyframes(103px, 80px, 35px)
}

// Skills box animation css3
.box-animation-css3 {
  @include box-animation(20px, csstres)
}

// Skills box animation-keyframes 
@-moz-keyframes csstres {
  @include box-animation-keyframes(103px, 60px, 20px)
}

@-webkit-keyframes csstres {
  @include box-animation-keyframes(103px, 60px, 20px)
}

// Skills box animation javascript
.box-animation-js {
  @include box-animation(40px, js)
}

// Skills box animation-keyframes
@-moz-keyframes js {
  @include box-animation-keyframes(103px, 60px, 40px)
}

@-webkit-keyframes js {
  @include box-animation-keyframes(103px, 60px, 40px)
}