//
// Estilos de About
//

.about-info {
  margin: 0 auto;
  width: 90%;
  padding-top: 4%;

  @media (min-width: 840px) {
    max-width: 700px;
  }

  a {
    margin: 4% auto 12%;
    width: 152px;
    @media (min-width: 840px) {
      width: 169px;
    }
  }
}

@media (min-width: 840px) {
  .about-title{
    display: inline-block;
    position: absolute;
  }

  .about-title:first-child {
    margin: 48px -80px;
  }
}

.about-title:last-child {
  margin: 0 10px;

  @media (min-width: 840px) {
    margin: 5px 45px;
  }
}
