//
// Estilos del header
//

header {
  background: url("../img/background/background-header.png") no-repeat center center;
}

.header-content {
  color: $text;
  padding: 18% 0 1% 0;
  text-align: center;
  p{
    @include font-size(26);
    font-weight: normal;
    margin-bottom: 0;
    span {
      @include font-size(48);
      font-family: $title-cursive;
      padding-left: 15px;
    }
  }
}

.portrait {
  background: #ddd;
  border-radius: 50%;
  border: 5px solid #99646a;
  display: inline-block;
  height: 215px;
  margin: 0; 
  margin-bottom: -135px;
  margin-left: -370px;
  width: 215px;
}

//
// Estilos para la navegación
//

nav {
  ul {
    padding: 0;
  }
  a:hover {
    color: $text-secondary;
    background-color: $background-nav;
  }

}

// Navegación principal
.main-nav {
  li {
    vertical-align: top;
  }
  a {
    color: $text;
    display: block;
    font-family: $text-sans;
    height: 70px;
    line-height: 66px;
    padding: 0 30px;
  }
  // Enlace a Inicio/Logo
  li:first-child a {
    background: url(../img/logo-small.png) no-repeat center bottom;
    margin-right: 635px;
    width: 150px;
    @extend %text-hidden;
  }
}