//
// Estilos del header
//

header {
  background: url("../img/background/background-header.png") no-repeat center center;
}

.header-content {
  color: $text;
  padding: 28% 0 1% 0;
  text-align: center;
  @media (min-width: 820px) {
    padding: 18% 0 1% 0;
  }
  p{
    @include font-size(26);
    font-weight: normal;
    margin-bottom: 0;
    span {
      @include font-size(48);
      font-family: $title-cursive;
      padding-left: 15px;
      display: block;
      @media (min-width: 820px) {
        display: inline-block;
      }
      @media (max-width: 320px) {
        @include font-size(40);
      }
    }
  }
}

.portrait {
  background: #ddd;
  border-radius: 50%;
  border: 5px solid #99646a;
  display: inline-block;
  margin-bottom: -135px;
  margin-left: -2%;
  @media (min-width: 320px) {
    height: 150px;
    position: absolute;
    top: 32px;
    left: 35%;
    width: 150px;
  }

  @media (min-width: 420px) {
    width: 180px;
    height: 180px;
    top: 18px;
    left: 35%;
  }

  @media (min-width: 840px) {
    position: inherit;
    margin-left: -65px;
  }

  @media (min-width: 1180px) {
    position: inherit;
    margin-left: -370px;
  }
}

//
// Estilos para la navegación
//

nav {
  ul {
    padding: 0;
  }
  a:hover {
    color: $text-secondary;
    background-color: $background-nav;
  }

}

// Navegación principal
.main-nav {
  li {
    vertical-align: top;
  }
  a {
    color: $text;
    display: block;
    font-family: $text-sans;
    height: 70px;
    line-height: 66px;
    padding: 0 30px;
  }
  // Enlace a Inicio/Logo

}

.main-nav {
  margin: 0 auto;
  max-width: $content-width;
  overflow: hidden;
}

.main-nav-container {
  display: none;
  @media (min-width: 840px){
    display: block;
    float: right;
  }
}

.main-logo { 
  width: 135px;
  float: left;
  position: relative;
  z-index: 3;
  a {
    background: url(../img/logo-small.png) no-repeat center bottom;
    @extend %text-hidden;
    &:hover {
      background-color: transparent;
    }
  }
  @media (min-width: 840px){
    position: auto;
    z-index: 0;
  }
}

.mobile-nav-button {
  display: block;
  float: right;
  position: relative;
  z-index: 3;
  @include button(18, #DDD, #DDD);
  margin: 10px; 
  @media (min-width: 840px){
    display: none;
  }
}

.main-nav-mobile {
  display: block;
  position: absolute;
  z-index: 2;
  background: #97706A;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  li {
    display: block;
    margin: 5% auto;
    width: 62%;
  }
  a {
    font-family: $title-cursive;
    font-size: 4rem;
    text-align: center
  }
  @media (min-width: 410px){
    padding-top: 10%;
  }
}

