.projects {

  li {
    width: 384px;
    height: 211px;
    margin-bottom: 5%;

    @media (min-width: 840px) {
      margin: 0.5%;
    }
  }

  h4 {
    @include font-size(20);
  }

  p {
    font-weight: 300;
    @include font-size(35);
    margin-bottom: 0;
  }

  @media (min-width: 1366px) {
    .first-project {
      float: left;
      height: 436px;
    }
  }
}

.project-name {
  height: 100%;
  padding: 17% 5%;

  @media (min-width: 840px) {
    padding: 17% 10%;
  }

  position: absolute;
  text-decoration: none;
  width: 100%;
  @extend %item-transition;
  @include scale(1);
  -webkit-backface-visibility: hidden;
}

.project-item {
  height: 100%;
  padding: 0;
  position: relative;
  box-shadow: inset  0 0 0 194px rgba(136,106,104,0.8), 0 1px 3px rgba(0,0,0,0.8);
  background-size: cover;
  @extend %item-transition;

  &:hover {
    box-shadow: none;
    .project-name {
      opacity: 0;
      @include scale(0);
    }
  }
}

.project-colectivo { 
  background-image: url("http://res.cloudinary.com/elcolectivo/image/upload/v1460602268/stojy0m4jukf30ncv8yk.png");
}

.project-music-player { 
  background-image: url("http://res.cloudinary.com/elcolectivo/image/upload/v1460601455/zwmiezd6arifo5ghqyqf.png");
}

.project-our-heritage { 
  background-image: url("http://res.cloudinary.com/elcolectivo/image/upload/v1460601601/k8ggokuvimhzmudgirgs.png");
} 

.project-gamejam { 
  background-image: url("http://res.cloudinary.com/elcolectivo/image/upload/v1460601607/tj9sscibangcpdq51l5m.png");
}

.project-weather-app { 
  background-image: url("http://res.cloudinary.com/elcolectivo/image/upload/v1460601586/alr9nl99trddf2txgavs.png");
}

.projects-container,
.projects-title {
  margin: 0 auto;
  max-width: 400px;
  overflow: hidden;

  @media (min-width: 840px) {
    max-width: 800px;
  }
  
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}