.projects {

  li {
    width: 384px;
    height: 211px;
    margin-bottom: 5%;

    @media (min-width: 840px) {
      margin: 0.5%;
    }
  }

  h4 {
    @include font-size(20);
  }

  p {
    font-weight: 300;
    @include font-size(35);
    margin-bottom: 0;
  }

  @media (min-width: 1366px) {
    .first-project {
      float: left;
      height: 436px;
    }
  }
}

.project-name {
  height: 100%;
  padding: 17% 5%;

  @media (min-width: 840px) {
    padding: 17% 10%;
  }

  position: absolute;
  text-decoration: none;
  width: 100%;
  @extend %item-transition;
  @include scale(1);
  -webkit-backface-visibility: hidden;
}

.project-item {
  height: 100%;
  padding: 0;
  position: relative;
  box-shadow: inset  0 0 0 194px rgba(136,106,104,0.8), 0 1px 3px rgba(0,0,0,0.8);
  background-size: cover;
  @extend %item-transition;

  &:hover {
    box-shadow: none;
    .project-name {
      opacity: 0;
      @include scale(0);
    }
  }
}

.project-colectivo { 
  background-image: url(../img/project-colectivo/small-colectivo.png);
}

.project-extreme-kawaii { 
  background-image: url(../img/project-extremeKawaii/small-extremeK.png);
}

.project-music-player { 
  background-image: url(../img/project-musicPlayer/small-musicPlayer.png);
}

.project-our-heritage { 
  background-image: url(../img/project-ourHeritage/small-ourHeritage.png);
} 

.project-gamejam { 
  background-image: url(../img/project-gamejam/small-gamejam.png);
}

.project-weather-app { 
  background-image: url(../img/project-weatherApp/small-weatherApp.png);
}

.projects-container {
  margin: 0 auto;
  max-width: 400px;
  overflow: hidden;

  @media (min-width: 840px) {
    max-width: 800px;
  }
  
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}