//
// Estilos de section Project
//
.hidden {
  display: none;
}

.project-copy {
  width: 90%;
  margin: 0 auto;

  @media (min-width: 1100px) {
    padding-right: 2%;
    float: left;
    margin: 2% 0 2% 10%;
    width: 25%;
  }

  @media (min-width: 1366px) {
    margin: 2% 0 2% 12%;
  }
}

.project-copy span{
  display: block;
  text-align: center;
  margin-bottom: 8%;
}

.project-copy h2{
  font-size: 5rem;
}

.project-images {
  overflow: hidden;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 5%;
  
  img{
    width: 100%;
    margin-bottom: 4%;
  }

  @media (min-width: 1100px) {
    min-height: 700px;
    width: 60%;
    margin: 0 0 5% 0;
    padding-top: 0;
  }

  @media (min-width: 1366px) {
    width: 50%;
  }
}

.images-container {
  text-align: center;
  
  @media (max-width: 480px) {
    display: none;
  }

  li{
    margin: 5px;
    height: 83px;
    box-sizing: content-box;
    cursor: pointer;

    &:hover {
      border: 5px solid;
      transition: all .20s ease-out;
    }
  }
}

.select-item {
  border: 5px solid;
}

.link {
  margin-top: 2%;
  margin-right: 5%;
  @include button(18, #886A68, #886A68);
  display: inline-block;
  
  &:hover {
    background-color: #886A68;
    color: $background-color;
  }

  @media (min-width: 1100px) {
    margin-bottom: 8%;
  }
}

.close-project-section {
  display: inline-block;
  margin-left: 85%;
  padding-top: 25px;

  svg {
    width: 33px;
    height: 33px;
    stroke: #99646A; 
  }

  @media (min-width: 410px) {
    margin-left: 92%;
  }

  @media (min-width: 1100px) {
    margin-left: 95%;
  }
}