//
// Estilos de section Project
//

.project-copy {
  width: 22%;
  padding-right: 2%;
  float: left;
  margin: 2% 0 2% 15%;
}
.project-copy span{
  display: block;
  text-align: center;
  margin-bottom: 8%;
}

.project-copy h2{
  font-size: 5rem;
}

.project-images {
  overflow: hidden;
  width: 50%;
  max-width: 900px;
  margin-bottom: 5%;
}

.link {
  margin-top: 8%;
  @include button(18, #886A68, #886A68);
}

.images-container{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 1000px;
  margin-right: -50px;
}

.images-container img{
  width: 95%;
  margin-bottom: 4%;
}

.images-container-app img{
  width: inherit;
  margin: 2%;
}

.app-right {
  float: right;
}

.app-vector {
  background: url(../img/background/app-vector.png) no-repeat center center;
  height: 678px;
  padding: 63px 18px;
  width: 348px;
  float: left;
  margin: 0 10% 0 10%;
  overflow: hidden;
}

.close-project-section {
  display: none;
  margin-left: 95%;
  padding-top: 25px;
  svg {
    width: 43.353px;
    height: 38.728px;
    fill: #99646A; 
  }
}

.display-button {
  display: block;
}

.hideScrollBar{
  background-color: #856d6d;
  height: 91%;
  margin: 48px 15px 0 15px;
  overflow-x: hidden;
  width:101%;
}

.projects {
	li {
    width: 32%;
    height: 211px;
    margin: 0.5%;
	}
	h4 {
		@include font-size(20);
	}
	p {
    font-weight: 300;
		@include font-size(35);
	}
}

.section-title {
  @include font-size(200);
  padding: 0;
  margin: -3% 0;
  opacity: 0.3;
  color: #f2f2f2;
}

.project-name {
  height: 100%;
  padding: 19% 10%;
  position: absolute;
  text-decoration: none;
  width: 100%;
	@extend %item-transition;
  @include scale(1);
  -webkit-backface-visibility: hidden;
}

.project-item {
	height: 100%;
  padding: 0;
  position: relative;
  box-shadow: inset  0 0 0 126px rgba(136,106,104,0.8), 0 1px 3px rgba(0,0,0,0.8);
  background-size: cover;
  @extend %item-transition;
  &:hover {
  	box-shadow: none;
  	.project-name {
		  opacity: 0;
		  @include scale(0);
    }
  }
}

.project-section {
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
}

.project-colectivo { 
  background-image: url(../img/project-colectivo/small-colectivo.png);
}

.project-guayaba-jam { 
  background-image: url(../img/project-guayabaJam/small-guayabaJam.png);
}

.project-music-player { 
  background-image: url(../img/project-musicPlayer/small-musicPlayer.png);
}

.project-our-heritage { 
  background-image: url(../img/project-ourHeritage/small-ourHeritage.png);
}	

.project-hechoxmi { 
  background-image: url(../img/project-hechoxMi/small-hechoxmi.png);
}

.project-weather-app { 
  background-image: url(../img/project-weatherApp/small-weatherApp.png);
}

.project-info {
  h2 {
    font-family: $text-sans;
    margin-top: 3%;
  }
  span {
    vertical-align: middle;
    font-family: $title-cursive;
    @include font-size(30);
  }
}