//
// Estilos de section Project
//

.app-vector {
  background: url(../img/background/app-vector.png) no-repeat center center;
  height: 678px;
  padding: 63px 18px;
  width: 348px;
  float: left;
  margin: 0 10% 0 10%;
}

.close-project-section {
  display: none;
  margin-left: 95%;
  padding-top: 25px;
  svg {
    width: 43.353px;
    height: 38.728px;
    fill: #99646A; 
  }
}

.display-button {
  display: block;
}

.hideScrollBar{
  background-color: #856d6d;
  height: 91%;
  margin: 48px 15px 0 15px;
  overflow-x: hidden;
  width:101%;
}

.info-project {

}

.projects {
	li {
    width: 31.5%;
		height: 211px;
  	margin: 0.5%;
	}
	h4 {
		@include font-size(20);
	}
	p {
		@include font-size(28);
	}
}

.project-name {
  height: 100%;
  padding: 60px;
  position: absolute;
  opacity: 0;
  text-decoration: none;
  width: 100%;
	@extend %item-transition;
  @include scale(0);
  -webkit-backface-visibility: hidden;
}

.project-item {
	height: 100%;
  padding: 0;
  position: relative;
  @extend %item-transition;
  &:hover {
  	box-shadow: inset  0 0 0 126px rgba(136,106,104,0.9), 0 1px 3px rgba(0,0,0,0.8);
  	.project-name {
		  opacity: 1;
		  @include scale(1);
    }
  }
}

.project-section {
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
}

.project-wikipedia { 
  background-image: url(../img/project-wiki/small-wiki.png);
}

.project-artesanias { 
  background-image: url(../img/project-elCuervo/small-elcuervo.png);
}

.project-last-activist { 
  background-image: url(../img/project-thelastActivist/small-thelastActivist.png);
}

.project-la-iluminada { 
  background-image: url(../img/project-laIluminada/small-laIluminada.png);
}	

.project-hechoxmi { 
  background-image: url(../img/project-hechoxMi/small-hechoxmi.png);
}

.project-suntime { 
  background-image: url(../img/project-sunTime/small-suntime.png);
}

.slider-button {
  margin: 0 auto;
  width: 155px;
}

.slider-project {
  margin: 3% 0;
}

.web-vector {
  background: url(../img/background/web-vector.png) no-repeat;
  height: 702px; 
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}

.project-info {
  h2 {
    font-family: $text-sans;
    margin-top: 3%;
  }
  span {
    vertical-align: middle;
    font-family: $title-cursive;
    @include font-size(30);
  }
}

#button-next {
  display: inline-block;
  height: 80px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 16px;   
}

#button-previous {
  display: inline-block;
  height: 80px;
  margin-right: 120px;
  width: 16px;
}