//
// Estilos del header
//

.header {
  background: #99646A;

  @media (min-width: 840px){
    background: none;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }
}

.mobile-header {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.header_projects {
  position: absolute;
  width: 100%;
  visibility: hidden;
  
  @media (min-width: 840px){
    position: fixed;
    z-index: 1;
  }

  a {
    color: #886A68;
  }
}
