//
// Estilos para la navegación
//

nav {
  ul {
    padding: 0;
  }

  a {
    border: 0;
    border-style: solid;
    transition: border-width .1s ease-in-out;

    &:hover {
      border-bottom-width: 6px;
    }
  }
}

// Navegación principal
.main-nav {
  @media (max-width: 840px){
    overflow: hidden;
  }

  li {
    vertical-align: top;
  }

  a {
    color: $text;
    display: block;
    font-family: $text-sans;
    margin: 20px 30px 0;
  }
}

.main-nav-container {
  height: 0;
  opacity: 0;

  @media (min-width: 840px){
    height: auto;
    opacity: 1;
    display: block;
    float: right;
  }
}

.main-logo { 
  width: 135px;
  float: left;
  visibility: hidden;
  
  a {
    line-height: 66px;
    margin: 0;
    background: url(../assets/logo-small.png) no-repeat center bottom;
    @extend %text-hidden;
    &:hover {
      border-bottom: none;
    }
  }

  @media (min-width: 840px){
    position: static;
    z-index: 0;
    visibility: visible;
  }
}

.mobile-nav-button {
  display: block;
  float: right;
  position: relative;
  z-index: 3;
  margin: 10px; 
  @include button(#DDD, #DDD);
  @include font-size(15);

  @media (min-width: 720px) {
    @include font-size(18);
  }

  @media (min-width: 840px){
    display: none;
  }
}

.mainNavMobile {
  opacity: 1;
  transition: all .35s ease-out;
  position: absolute;
  z-index: 2;
  background: #99646a;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  li {
    display: block;
    margin: 5% auto;
    width: 62%;
  }
  a {
    font-family: $title-cursive;
    font-size: 4rem;
    text-align: center
  }
  @media (min-width: 410px){
    padding-top: 10%;
  }
}